{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}" />
    <!-- project CSS -->
    <link rel="stylesheet" href="{% static 'deals/css/styles.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<header class="p-3 bg-dark text-white border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="{% url 'home' %}" class="navbar-brand px-4 text-warning">Главная страница</a></li>
          <li><a href="{% url 'upload_form' %}" class="navbar-brand px-4 text-warning">Загрузить файл</a></li>
          <li><a href="{% url 'view_table' %}" class="navbar-brand px-4 text-warning">Таблица сделок</a></li>
        </ul>
      </div>
    </div>
  </header>
<body class="p-3 bg-dark text-white" >
{% block content %}
{% endblock %}
</body>
</html>
