{% extends 'deals/base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
      <main class="px-3">
    <h1>Веб-приложение для загрузки в БД типовых deals.csv файлов и выгрузки данных через API в соответствии с ТЗ</h1>
    <p class="lead">Данное приложение позволяет: </p>
    <ul>
        <li>1.	Принимать из POST-запроса и через форму на сайте .csv файлы для дальнейшей обработки;</li>
        <li>2.	Обрабатывать типовые deals.csv файлы, содержащие истории сделок;</li>
        <li>3.	Сохранять извлеченные из файла данные в БД проекта;</li>
        <li>4.	Возвращать обработанные данные в ответе на GET-запрос по адресу http://127.0.0.1:8000/api/get_top5,
            в соответствии с условиями задания.</li>
    </ul>
      </main>
{% endblock %}
